<img src="../img/logo.png" alt="logo" srcset="">
        <div class="find">
            <img src="../img/lupa.svg" alt="magnifier" srcset="">
            <input type="text" placeholder="Search">
        </div>