<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>

</head>
<body>
    <header>
        <%- include('./partials/header.ejs')%>    
    </header>
    <div class="path">
        <h5>Home > 404</h5>
    </div>
    <div class="error404">   
         <h1>404 Not Found</h1>
         <a href="/">Go to main page</a>
    </div>
</body>
</html>